@import "assets/style/variables.scss";

.Login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: $primary;
  &__container {
    text-align: center;
    margin: 0 auto;
    border: 1px solid #fff;
    padding: 3rem;
    border-radius: 1px;
    h2 {
      color: #fff;
      margin-bottom: 1rem;
    }
  }
}
