@import "assets/style/variables";

.button {
  cursor: pointer;
  border: 0;
  padding: 0.5rem 1rem;
  font-weight: 500;
  background-color: $secondary;
  color: #fff;
  font-weight: bold;
  border-radius: 1px;
}
