.ant-tabs-nav-list {
  width: 100%;
  .ant-tabs-tab {
    text-align: center;
    width: 50%;
    margin: 0;
    .ant-tabs-tab-btn {
      width: 100%;
      text-align: center;
      font-weight: bold !important;
    }
  }
}

.tab {
  &__content {
    padding: 0 0.75rem;
  }
}
