@import "assets/style/variables";

.employee {
  padding: 0.5rem 0;
  padding-left: 1.25rem;
  border-left: 2px solid $primary;
  margin-bottom: 1rem;
  position: relative;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
  &:hover {
    box-shadow: 0 2px 20px 2px rgba(0, 0, 0, 0.1);
  }
  span {
    margin-right: 0.5rem;
    color: $primary;
    font-weight: bold;
  }
  &__call {
    float: right;
    font-size: 2rem;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  &__text {
    margin: 0;
    font-weight: 600;
  }
  &__position {
    font-weight: bold;
    color: $primary;
  }
  &__name {
    font-weight: 600;
  }
}
